<p>
  <%= f.text_area :body,  size: "100x2", data: { target: "characters.body", action: "keyup->characters#update"} %>
<p>
  <%= f.submit "Comment", class:'btn btn-primary'%>

  <span data-target="characters.characterCount"></span>
</p>
</p>
