<%= form_for(:post, html: {multipart: true}, url:  posts_path(@current_user)) do |f| %>
  <p class="d-flex justify-content-center">
    <%= f.text_field :title, autocomplete: 'off', class: 'form-control' %>
  </p>
  <p class="field">
    <%= f.rich_text_area :content %>
  </p>

  <p>
    <button class="submit btn btn-primary"><%= f.submit "Post", class: 'btn btn-primary' %></button>
  </p>
<% end %>