<div class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="jumbotron">
  <%= form_for(:post, html: {multipart: true}, url: post_path, method: :patch) do |f| %>
  <p class="d-flex justify-content-center">
    <%= f.text_field :title, autocomplete: 'off', class: 'form-control' %>
  </p>
  <p class="field">
    <%= f.rich_text_area :content %>
  </p>

  <p>
    <button class="submit btn btn-primary"><%= f.submit "Post", class: 'btn btn-primary' %></button>
  </p>
  <% end %>
</div>
