
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path , class: 'btn btn-primary offset-4' %>
<% end %>


<div class="posts">
<!-- Render all the posts -->
<% @posts.each do |post| %>
  <br>
  <div class="card col-12 col-md-9 mb-2">
    <div class="card-body">
      <%= render post %>
    </div>
  </div>
<% end %>
</div>

</div>

<div class="digg_pagination offset-4">
  <%= will_paginate @posts %>
</div>