@import "bootstrap";

body {
  background-color: #262c32;
  color: white;
}

body a:hover {
  text-decoration: none;
}

header {
  background-color: #24262d;
}

header a {
  color: white;
  padding: 5px;
}

header a:hover{
  color: gray;
  text-decoration: none;
}

body .jumbotron {
  margin-top: 2%;
  background-color: #2b3138;
}

body a {
  text-decoration: none;
}

#login, #signup {
  width: 400px;
  background-color: #2b3138;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 5% 33%;
}

#login h1, #signup h1 {
  text-align: center;
  color: whitesmoke;
  background-color: #24262d;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;

}


#login form, #signup form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

#login form input[type="password"], #login form input[type="text"], #login form input[type="email"],
#signup form input[type="password"], #signup form input[type="text"], #signup form input[type="email"] {
  width: 80%;
  height: 30px;
  border: 1px solid #dee0e4;
  background-color: #2b3138;
  margin: 5px 15px 20px 5px;
  color: white;
}

#login form input[type="submit"],  #signup form input[type="submit"]{
  width: 350px;
  padding: 10px;
  margin: 15px 0 5px 0;
  background-color: #24262d;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

#login form input[type="submit"]:hover, #signup form input[type="submit"]:hover {
  background-color: #2b3138;
  transition: background-color 0.2s;
}

#login form .label, #signup form .label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #24262d;
  color: #ffffff;
}

#login a, #signup a {
  padding: 10px;
}

.remember {
  margin-left: 0;
}

.card {
  background-color: #2b3138;
  width: 75%;
  margin-left: 10%;
}

.post, .comment {
  box-sizing: content-box;
  border: 2px double #22272c;
  background-color: #2b3138;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.delete {
  margin-left: 5px;
}

.comment img {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}
.gravatar {
  margin-right: 5px;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}
.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;

  .chat-message-container {
    padding: 5px;

    .avatar {
      margin: 5px;
    }

    .message-content {
      padding: 5px;
      border: 1px solid $primary;
      border-radius: 5px;
      background: lighten($primary, 10%);
      color: $white;
    }

    & + .chat-message-container {
      margin-top: 10px;
    }
  }

}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px

}

.card-img-top, .uploads {
  max-width: 65%;
  height: auto;
  margin-left: 15%;
}

.dropdown-toggle, .dropdown-toggle:visited{
  background-color: #24262d;
}

.dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-menu{
  background-color: #262c32;
}

.dropdown-item{
  color:white;
}

.menu-avatar{
  width: 35px;
}